mixin about_us()
	.about_us
		.home_sect
			h2 about us
			h4 Lorem ipsum dolor sit amet event landing template
		.content_about
			.img_abouts
				.img_about.img_3 <img src='img/about/fon2.png' alt='#'>
				.img_about.img_2 <img src='img/about/fon1.png' alt='#'>
				.img_about.img_1 <img src='img/about/about_us.svg' alt='#'>
			.text_about
				h3 We Actually Do amazing works
				p A visual approach is an approach to a runway at an airport conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.
				p Preceding aircraft in approach correct sight. conducted under instrument flight rules.
