.about_us 
	.home_sect
		width: 100%
		text-align: center
		padding: 125px 0 110px 0
		background-color: #f8fafa

.content_about
	display: flex
	flex-wrap: wrap
	justify-content: center
	.img_abouts
		.img_about
			display: inline-block
			position: relative
			overflow: hidden
		.img_1
			display: inline-block
			widht: 395px
			height: 480px
			img
				widht: 100%
				
			

