mixin featured_works()
	.featured_works
		.home_sect
			h2 featured works
			h4 Lorem ipsum dolor sit amet event landing template
		.content_featured.animate
			.img_featureds
				
					.img_featured <img src='img/featured/1_featured.png' alt='#'>
					.img_featured <img src='img/featured/2_featured.png' alt='#'>
					.img_featured <img src='img/featured/3_featured.png' alt='#'>
					.img_featured <img src='img/featured/4_featured.png' alt='#'>
					.img_featured <img src='img/featured/5_featured.png' alt='#'>
					.img_featured <img src='img/featured/6_featured.png' alt='#'>
