.our_services 
	display: block
	background-color: #f9fbfb

.our_contents
	display: flex
	position: relative
	justify-content: center
	flex-wrap: wrap

	.our_content
		position: relative
		display: inline-block
		overflow: hidden
		padding: 10px
		opacity: .90
		.our_text
			display: inline-block
			position: absolute
			text-align: left
			overflow: hidden
			top: 180px
			left: 70px
			h3
				padding-bottom: 10px
			a
				color: #fff
			a:hover
				color: $main-color
		.text_1
			top: 100px
		.img_1
			height: 420px
		.img_our
			padding: 10px
			height: 370px
			width: 650px
			img
				width: 100%
		.our_img
			padding: 10px
			height: 370px
			width: 470px
			img
				width: 100%

			