mixin our_services()
	.our_services
		.home_sect
			h2 our services
			h4 Lorem ipsum dolor sit amet event landing template
		.our_contents
			
				.img_our.img_1 
					.our_content <img src='img/our_services/1_our.png' alt='#'>
						.our_text.text_1
							h3 Designing is The CooL LOVE FOR.
							p Our most popular service is our Virtual Receptionist. We<br>know that sometimes it’s something and you middle most<br>this job was posted less than five minutes ago, and we think<br>it’s a good match for you. If you submit a proposal now, you’ll<br>be one of the first candidates. You may even catch the<br>client while they’re still online.
							<button class="but_1">Know More<span></span></button>
				.our_img.img_1.img_2
					.our_content <img src='img/our_services/our_1.png' alt='#'>
						.our_text
							h3 cool psd Design
							p Our most popular service is our we know<br>that sometimes it’s something and you<br>middle most...
							<button class="but_1">Know More<span></span></button>
				.img_our.img_3
					.our_content <img src='img/our_services/2_our.png' alt='#'>
						.our_text.text_2
							h3 Designing is The Cool
							p Our most popular service is our Virtual Receptionist.<br>We know that ...
							<button class="but_1">Know More<span></span></button>
				.our_img.img_4
					.our_content <img src='img/our_services/our_2.png' alt='#'>
						.our_text.text_2
							h3 PSD TO HTML KORI
							p We know that sometimes it’s something<br>and you middle most...
							<button class="but_1">Know More<span></span></button>
				.our_img.img_5
					.our_content <img src='img/our_services/our_3.png' alt='#'>
						.our_text.text_3
							h3 cool psd Design
							p Our most popular service is our new<br>virtual Receptionist you middle<br>most..
							<button class="but_1">Know More<span></span></button>
				.img_our.img_6
					.our_content <img src='img/our_services/3_our.png' alt='#'>
						.our_text.text_3
							h3 Designing is The Cool FOR
							p Our most popular service is our Virtual Receptionist.<br>We know that sometimes it’s something and you<br>middle most..
							<button class="but_1">Know More<span></span></button>
				

