mixin small_team()
	.small_team
		.home_sect
			h2 small team
			h4 Lorem ipsum dolor sit amet event landing template
		.teams.animate
			.team
				.photo
					img(class="img_t" src="img/team/team_1.png", alt="#")
					.but_team
						.team_text
							h3 AL RAYHAN <i>/ UI Designer</i>
							p Lorem Ipsum is not simply is  an action designer random text it has roots in a piece.
							.icon_social
								<a href="#" class="icon-facebook"></a>
								<a href="#" class="icon-twitter"></a>
								<a href="#" class="icon-dribbble"></a>
								<a href="#" class="icon-mail"></a> 
			.team
				.photo
					img(class="img_t" src="img/team/team_2.png", alt="#")
					.but_team
						.team_text
							h3 AL RAYHAN / <i>UI Designer</i>
							p Lorem Ipsum is not simply is  an action designer random text it has roots in a piece.
							.icon_social
								<a href="#" class="icon-facebook"></a>
								<a href="#" class="icon-twitter"></a>
								<a href="#" class="icon-dribbble"></a>
								<a href="#" class="icon-mail"></a> 
			.team
				.photo
					img(class="img_t" src="img/team/team_3.png", alt="#")
					.but_team
						.team_text
							h3 AL RAYHAN / <i>UI Designer</i>
							p Lorem Ipsum is not simply is  an action designer random text it has roots in a piece.
							.icon_social
								<a href="#" class="icon-facebook"></a>
								<a href="#" class="icon-twitter"></a>
								<a href="#" class="icon-dribbble"></a>
								<a href="#" class="icon-mail"></a> 
			.team
				.photo
					img(class="img_t" src="img/team/team_4.png", alt="#")
					.but_team
						.team_text
							h3 AL RAYHAN / <i>UI Designer</i>
							p Lorem Ipsum is not simply is  an action designer random text it has roots in a piece.
							.icon_social
								<a href="#" class="icon-facebook"></a>
								<a href="#" class="icon-twitter"></a>
								<a href="#" class="icon-dribbble"></a>
								<a href="#" class="icon-mail"></a> 
			.team
				.photo
					img(class="img_t img_5" src="img/team/team_5.png", alt="#")
					.but_team
						.team_text
							h3 AL RAYHAN / <i>UI Designer</i>
							p Lorem Ipsum is not simply is  an action designer random text it has roots in a piece.
							.icon_social
								<a href="#" class="icon-facebook"></a>
								<a href="#" class="icon-twitter"></a>
								<a href="#" class="icon-dribbble"></a>
								<a href="#" class="icon-mail"></a> 
			.team
				.photo
					img(class="img_t" src="img/team/team_1.png", alt="#")
					.but_team
						.team_text
							h3 AL RAYHAN / <i>UI Designer</i>
							p Lorem Ipsum is not simply is  an action designer random text it has roots in a piece.
							.icon_social
								<a href="#" class="icon-facebook"></a>
								<a href="#" class="icon-twitter"></a>
								<a href="#" class="icon-dribbble"></a>
								<a href="#" class="icon-mail"></a> 