
.icon-mail:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-arrow:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */