mixin logo()
	.logos.animate
		.logo_1.log
			img(src="img/logo/19.png", alt="#")
			<h4> Audio</h4><p>Pro</p>
			img(src="img/logo/38.png", alt="#")
		.logo_2.log
			img(src="img/logo/4.png", alt="#")
			img(src="img/logo/5.png", alt="#")
			img(src="img/logo/6.png", alt="#")
			<h4> Audio</h4><p>Pro</p>
			img(src="img/logo/38.png", alt="#")
			img(src="img/logo/19.png", alt="#")
