mixin header()
	.header
		.top-line
			.logo 
				<img src='img/logo.svg' alt='#'>

			.toggle-mnu <span></span>

				.main-mnu 
					ul
						li
							a(href='#') Home
						li
							a(href='#') About Us
						li
							a(href='#') Featured Works
						li
							a(href='#') Our Services
						li
							a(href='#') Small Team
						li
							a(href='#') What They Says
						li
							a(href='#') Contact


		.header-wrap
			h1
				| Say Hello to <span>SHOPNO!</span><br><span>Agency</span> CORPORATE SHOPNO Theme
			.buttons
				| <button>CONTACT US</button>
			.img-wrap
				| <img src="img/stakan.svg" alt='#'>


