@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.img_slide_1
		padding-left: 62px
	.img_about_2
		padding-left: 20px
// ≥992px
+media-breakpoint-down(md)
	.content_team
		.img_slide_1
			padding: 0
// ≥768px
+media-breakpoint-down(sm)
	.header-wrap
		h1
			font-size: 40px

// ≥576px
+media-breakpoint-down(xs)
	.home_sect
		h2
			font-size: 28px

	.header-wrap
		h1
			font-size: 32px

	.text_about
		padding-left: 10px

	.img_our
		display: none
	.slider
		.slick-prev, .slick-next
			left: 65%!important

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)

@media screen and (max-width: 1080px)
	.content_team
		.img_abouts
			
			.img_about_2
				display: flex
				width: 0

