mixin footer()
	.footer.animat_footer
		p FOLLOW US
		.social
			<a href="#" class="icon icon-facebook"></a>
			<a href="#" class="icon icon-twitter"></a>
			<a href="#" class="icon icon-dribbble"></a>
			<a href="#" class="icon icon-mail"></a>
		.last_text
			p Copyright Masum Parvej, All Rights Reserved

		