mixin what_they_says()
	.what_they_says
		.home_sect
			h2 what they says
			h4 Lorem ipsum dolor sit amet event landing template
		.content_team
			.img_abouts.animate
				.img_about_2
					.img_2 
				.slider
					.img_slide_1
						.img_1.img_new.slider-for
							|<img src='img/team/team_1.png' alt='#'>
							|<img src='img/team/team_2.png' alt='#'>
							|<img src='img/team/team_3.png' alt='#'>
							|<img src='img/team/team_4.png' alt='#'>
							|<img src='img/team/team_5.png' alt='#'>
							
							
						.slide_texts.slider-nav
							.slide_text
								h3 1AL RAYHAN <i>/ UI Designer</i>
								p Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								.icon_stars
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
							.slide_text
								h3 2AL RAYHAN <i>/ UI Designer</i>
								p Lorem Ipsum is simplLoprinting and yorem Ipsum is simply duy dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								.icon_stars
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
							.slide_text
								h3 3AL RAYHAN <i>/ UI Designer</i>
								p Loprinting and yorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								.icon_stars
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
							.slide_text
								h3 4AL RAYHAN <i>/ UI Designer</i>
								p is simply dummyLorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								.icon_stars
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
							.slide_text
								h3 5AL RAYHAN <i>/ UI Designer</i>
								p Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								.icon_stars
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>
									<i href="#" class="icon-star"></i>

					
					

				
						